// KILLING WORPRESS AND ELEMENTOR

// change typo
.elementor-widget-text-editor,
.elementor-widget-heading .elementor-heading-title {
    font-family: "Montserrat", "Helvetica", monospace !important;
}

/* resset paddings and margins */
body :is(.entry-content, .site-main) {
    padding: 0;
    margin: 0;
}

// solution problem with the menu walker
// ---> i can with that manage the li tag
.nav-item {
    position: relative;
}

/* hidden entry header */
.entry-header {
    display: none;
}

// add padding in movile only
main > div > div > section:first-of-type {
    @extend .pt-6;
    @extend .pt-md-0;
}

// repair h1 of elementor (it was not responsive)
section {
    h1 {
        font-size: min(5rem, 16vw) !important;
    }
    h2 {
        font-size: clamp(2rem, 3vw, 3rem)!important;
    }
}

// go over the styles of theme
.btn-close {
    background-color: transparent !important;
}

// hidden nav and particles when elementor is active jaja
.elementor-editor-active {
    #header,
    #particles-js {
        display: none;
    }
}

// hidden the particles in pages that isn't home
body:not(.home) #particles-js {
    display: none;
}


// custom footer menu colors on a tag
footer ul li a{
    @extend .text-white-50;
    padding: .5rem !important;
    font-family: "Montserrat", "Helvetica", monospace !important;
}