$enable-negative-margins: true;
$font-family-base: 'Roboto', 'Helvetica', monospace;
$font-family-secondary: 'Volkhov', serif;

// COLORS
$blue: #A7CEEF;
$red: #C9A3A4;
$green: #ACB5AC;
$gold: #D5B795;

// base #0B2436
$primary: #2b465a;
$scroll-bar: #a59b91;

// SPACCERS
$spacer: 2rem;
$spacers: (
  0: 0,
  1: $spacer / 4,
  2: $spacer / 2,
  3: $spacer,
  4: $spacer * 1.5,
  5: $spacer * 3,

  6: $spacer * 5,
  7: $spacer * 10,
  8: $spacer * 20,
  9: $spacer * 30,
  10: $spacer * 40,
);

// BREAKPOINTS + CONTAINERS WID
$grid-breakpoints: (
  xs: 0,
  sm: 576px,
  md: 768px,
  lg: 992px,
  xl: 1200px,
  xxl: 1400px,
  xxxl: 1950px
);
$container-max-widths: (
  sm: 540px,
  md: 720px,
  lg: 960px,
  xl: 1140px,
  xxl: 1320px,
  xxxl: 1920px
);

// BTN
$btn-border-radius: 0;

// CUSTOM CARD
$card-border-radius: 0;
$card-border-color: none;
$card-inner-border-radius:none;
$card-bg: transparent;