@import "./../utils/mixins";

// solo para la navegación en mobil
// agrega un fondo al menu bascamente
#navbarNav.show {
    $color: #694949b8;
    box-shadow: 1px 1px 0px 100vw $color;
    background: $color;
    transition: all 1s;
}

// fondos de cover
.home .cover {
    background-image: url(/assets/img/home-mobile.png);
    background-position: 85% center;
    background-size: contain;
    background-repeat: no-repeat;
    @include media-md(){
        background-image: url(/assets/img/home-desktop.png);
        background-size: auto;
    };
}
