@import "./../utils/mixins";

@import "../../../../node_modules/bootstrap/scss/functions";
@import "../../../../node_modules/bootstrap/scss/variables";
@import "../../../../node_modules/bootstrap/scss/utilities";

.home {
    h1 {
        user-select: none;
    }
    .cover {
        @include media-breakpoint-up(md) {
            background-image: url("./../img/home/home-desktop.png");
            background-size: auto;
            background-position-x: center;
            image-rendering: pixelated;
        }
    }

    .articles {
        articles {
            transition: all 0.5s;
        }
        &:hover article {
            filter: saturate(0);
            transition: all 0.5s;
        }
        article:hover {
            filter: none;
            filter: saturate(1.4);
            // al final creé una sombra mas con la api de bootstrap (esta en variables)
            @extend .shadow-xl;
        }
    }

    .next-page {
        background-image: url("./../img/home/footer.jpg");
        background-size: cover;
        background-repeat: no-repeat;
        image-rendering: pixelated;
    }
}


