@import "./../utils/mixins";

.science .cover {
    @include media-md() {
        background-image: url('./../img/red-desktop.png');
        background-size: contain;
        background-repeat: no-repeat;
        background-position-x: 70%;
        image-rendering: pixelated;
    }
}


.science .next-page{
    background-image: url('./../img/blue-desktop.png');
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center right;
    image-rendering: pixelated;
}