@use "../utils/variables" as *;
@import "mixins";
/* 
!no puse usar @use creo q hay algun tema con bootstrap
si intento usarlo desaparecen las variables de bootstrap quedan indefeinidas */

// font size
.font-size-4rem {
    font-size: min(4rem, 14vw);
}


// BACKGROUND'S (podria extender bootstrap)
@each $key,
    $value
        in (
            // "home": #b4bdcb,
            "home": #8096af,
            "science": $red,
            "approach": $blue,
            "aplications": $green,
            "about": $gold
        )
{
    .bg-#{$key} {
        background-color: $value !important;
    }
}

// MAX'S WIDHT
@each $key, $value in $spacers {
    .max-width-#{$key} {
        max-width: $value;
    }
}

// MIN HEIGHT MIXIN
@include min-height((60vh, 80vh, 100vh));

// glass-effect for the card
@include glass-effect;

// z-index variables
@include z-index-variables;

// responsive rule ESTO ES SOLO UN EJEMPLO
// propiedad| alias| mapa key value
@include responsive-rule("background-color", "bg-color",("lavender": "tomato"));