h2 {
    font-family: $font-family-secondary;
    @extend .display-5;
}

// el header está absoluto y pasa a ser fixed cuando es clickeado el menu de hamburguesa
header{
    transition: all 1s;
}
input#navbarNav.show + header {
    $color: #181818dc;
    background-color: $color;
    height: 100vh;
    position: fixed!important;
    top: 0;
    left: 0;
    z-index: 1;
}