@import "./../utils/mixins";

// fondos de cover
.home .cover {
    background-image: url(/assets/img/home/home-mobile.png);
    background-position: 85% center;
    background-size: contain;
    background-repeat: no-repeat;
    image-rendering: pixelated;
    @include media-md() {
        background-image: url(/assets/img/home/home-desktop.png);
        background-size: auto;
        image-rendering: pixelated;
    }
}

 .articles {
     articles {
        transition: all .5s;
     }
     &:hover article{
        filter: saturate(0);
        transition: all .5s;
     }
    article:hover {
        filter: none;
        filter: saturate(1.4);
    }
}

.home .next-page{
    background-image: url(/assets/img/home/footer.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    image-rendering: pixelated;
}
